.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
label#numberPlate {
  font-size: 25px;
  color: rgb(19, 157, 125);
  font-style:oblique;  
}

label#message {
  font-size: 25px;
  color: rgb(157, 19, 93);
  font-style:oblique;  
}

input {
  font-size: 25px;
  color: rgb(0, 255, 170);
  background-color: rgb(78, 74, 74);
}
.App-header {
  background-color: #252b28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 5vmin);
  color: rgb(151, 120, 120);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
